@page
@model SU22_PRN221.Pages.Payment.IndexModel
@{
}
<h1 class="text-center text-danger">Do là tụi em không có nhiều thời gian để xử lý cái case này thầy thông cảm giúp tụi em , chứ mấy này tụii em làm cái một :))))))))</h1>
<meta http-equiv="refresh" content="10; url=https://localhost:5001/Home" />
<div>
    <a asp-page="/Home/Index">Back to Homepage</a>
</div>